includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - web/modules/custom
    - web/themes/custom
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Unsafe usage of new static\(\)#'
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
    - '#Plugin definitions cannot be altered.#'
    - '#Missing cache backend declaration for performance.#'
    - '#Plugin manager has cache backend specified but does not declare cache tags.#'
