{% if exposed  %}
<header class="header bg-white shadow py-4 px-4">
  {{ exposed }}
</header>
{% endif %}
<div class="main-content flex flex-col flex-grow p-4">
  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}
</div>
