<div class="flex flex-wrap justify-center">
  <div class="p-4">
    {{ content.field_media_image }}
   {#
    <img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="shadow rounded-full max-w-full h-auto align-middle border-none" />
   #}
  </div>
</div>
